<input [type]="inputType" />
<button (mouseleave)="inputType = 'password'" (mouseover)="inputType = 'text'">
  Mostrar/ocultar
</button>

{{ frutas }}

<br />

{{ persona | json }}

<br />
<br />
<br />

<hr />

<h3 appRoundedBlock>ngClass & ngStyle</h3>

<p [ngClass]="hayError ? 'error' : 'success'">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
  aspernatur perspiciatis porro fuga eius consequuntur, numquam totam saepe iste
  cum, nobis possimus reprehenderit nesciunt cupiditate autem. Quod placeat
  recusandae modi.
</p>

<p [ngClass]="{ error: hayError, success: !hayError }">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
  aspernatur perspiciatis porro fuga eius consequuntur, numquam totam saepe iste
  cum, nobis possimus reprehenderit nesciunt cupiditate autem. Quod placeat
  recusandae modi.
</p>

<p [class.error]="hayError" [class.success]="!hayError">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
  aspernatur perspiciatis porro fuga eius consequuntur, numquam totam saepe iste
  cum, nobis possimus reprehenderit nesciunt cupiditate autem. Quod placeat
  recusandae modi.
</p>

<p [class]="'success'">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente excepturi
  dolor dolorem suscipit aspernatur laborum ipsum repellendus? Vitae esse nobis
  eum quos quibusdam magnam cupiditate ipsa, iure quisquam, qui incidunt?
</p>

<hr />

<p [ngStyle]="{ color: hayError ? 'red' : 'green', fontSize: '20px' }">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum sequi quam
  voluptatum excepturi expedita minima ipsa molestias debitis, similique ab.
  Adipisci veniam harum itaque soluta ut tempore aspernatur debitis perferendis?
</p>

<p [style.font-size]="hayError ? '20px' : '10px'">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem fugit in,
  modi minima voluptatibus quidem, enim illum, quod at corporis itaque similique
  odio esse quaerat dolores molestiae quibusdam. Cupiditate, quidem.
</p>

<h4 appRoundedBlock>Custom directive H4</h4>
<p appRoundedBlock>Custom directive</p>

<br />
<br />
<br />

<hr />

<h3>Directivas estructurales</h3>

<h4>*ngFor</h4>
<ul>
  <li *ngFor="let fruta of frutas; let i = index">{{ i }} - {{ fruta }}</li>
</ul>

<h5>Solo con angular 17 o superior</h5>

<ul>
  @for (fruta of frutas; track $index) {
  <li *ngIf="$index !== 1">{{ $index }} - {{ fruta }}</li>
  }
</ul>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Aprobado</th>
      <th>Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let alumno of alumnos; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ alumno.nombre }}</td>
      <td [ngClass]="alumno.estaAprobado ? 'success' : 'error'">
        {{ alumno.estaAprobado }}
      </td>
      <td>
        <button (click)="alumno.estaAprobado = !alumno.estaAprobado">
          {{ alumno.estaAprobado ? "DESAPROBAR" : "APROBAR" }}
        </button>
      </td>
    </tr>
  </tbody>
</table>

<h4>*ngIf</h4>

<p *ngIf="mostrarParrafo; else noMostrarParrafo">Hola mundo!</p>
<ng-template #noMostrarParrafo>
  <p>El elemento original fue oculto</p>
</ng-template>

<h5>Solo con angular 17 o superior</h5>

@if (mostrarParrafo) {
<p>Hola mundo!</p>
} @else {
<p>El elemento original fue oculto</p>
}

<h4>*ngSwitch</h4>

<ng-container [ngSwitch]="estadoCompra">
  <ng-container *ngSwitchCase="'PENDIENTE'">
    <p>Su compra esta pendiente...</p>
  </ng-container>
  <ng-container *ngSwitchCase="'APROBADA'">
    <p>Su compra esta aprobada...</p>
  </ng-container>
  <ng-container *ngSwitchCase="'ENTREGADA'">
    <p>Su compra fue entregada...</p>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <p>Error, el estado de su compra es desconocida</p>
  </ng-container>
</ng-container>

<h5>Solo con angular 17 o superior</h5>

@switch (estadoCompra) { @case ('PENDIENTE') {
<p>Su compra esta pendiente...</p>
} @case ('APROBADA') {
<p>Su compra esta aprobada...</p>
} @case ('ENTREGADA') {
<p>Su compra esta entregada...</p>
} @default {
<p>Error, el estado de su compra es desconocida</p>
} }

<h2>Tipos de enlazamiento</h2>

<!-- ONE WAY BINDING -->
<input [type]="inputType" />
<!-- ENTRADA DE DATOS PARA EL INPUT-->
<button (click)="inputType = 'password'">Click me!</button>
<!-- SALIDA DE DATOS DESDE EL BOTON-->

<br />
<br />
<br />
<br />
<br />
<br />

<!-- TWO WAY BINDING -->

<input [(ngModel)]="inputValor" type="text" />

<p>{{ inputValor }}</p>
